.list {
    list-style-image: url('ph.png');
    font-family:'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
    color:whitesmoke;
}

body {
    background-image: url('../images/sea.jpg');
}

main {
    background-repeat: no-repeat;
    background-image: url('halohalo.png');
    background-position: right;
}

h1 , h2 ,h3 {
    color:#fff9c7;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bolder;
}

p {
    color:whitesmoke;
    font-family:'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
}

nav a{
    color:snow;
}

.current{
    color:darkred;
}